[submodule "TASTE-Runtime-Common"]
    path = TASTE-Runtime-Common
    url = ../TASTE-Runtime-Common.git
[submodule "src/samrh71_rtems_spw/n7s-spw"]
    path = src/samrh71_rtems_spw/n7s-spw
    url = ../n7s-spw.git
[submodule "cmake-tools"]
    path = cmake-tools
    url = ../cmake-tools.git
[submodule "TASTE-SAMX-RTEMS-Runtime"]
	path = TASTE-SAMX-RTEMS-Runtime
	url = ../TASTE-SAMX-RTEMS-Runtime.git
